@model CustomerManagement.Common.DTOs.AppraisalDto;
@using System.Configuration;
@{
    var Form_Title = ViewData["Form_Title"]?.ToString();
    var Form_Action = ViewData["Form_Action"]?.ToString();
    var Form_Btn = ViewData["Form_Btn"]?.ToString();
    var M_RoleID = ViewData["Form_RoleID"]?.ToString();
    Model.DBAction = Form_Action;
    if (Model.RoleId == null) { Model.RoleId = !string.IsNullOrWhiteSpace(M_RoleID) ? Convert.ToInt32(M_RoleID) : 0; }
}
<div id="modelFormAchieveEn" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="titleFormAchieveEn" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="overflow: hidden;">
            <div id="wrapper">
                <div class="modal-header">
                    <h5 class="modal-title">@Form_Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form asp-action="SubmitAppraisal" method="post">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.DBAction)
                        @Html.HiddenFor(model => model.AppraisalId)
                        @Html.HiddenFor(model => model.RoleId)
                        @Html.HiddenFor(model => model.LoginId)
                        @Html.HiddenFor(model => model.ActionId)
                        @Html.HiddenFor(model => model.AssignBy)
                        @Html.HiddenFor(model => model.AssignTo)

                        <div class="form-panel">
                            <div class="form-group">
                                <label asp-for="Achievement"></label>
                                <input asp-for="Achievement" class="form-control" />
                                <span asp-validation-for="Achievement" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">@Form_Btn</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}